/* ==========================================================================
  #TAG
  ========================================================================== */

$color_tag-aqua-green-background: nhsapp-colour("aqua-green-light");
$color_tag-aqua-green-text: nhsapp-colour("aqua-green-dark");
$color_tag-blue-background: nhsapp-colour("blue-light");
$color_tag-blue-text: nhsapp-colour("blue-dark");
$color_tag-green-background: nhsapp-colour("green-light");
$color_tag-green-text: nhsapp-colour("green-dark");
$color_tag-grey-background: nhsapp-colour("grey-light");
$color_tag-grey-text: nhsapp-colour("grey-dark");
$color_tag-purple-background: nhsapp-colour("purple-light");
$color_tag-purple-text: nhsapp-colour("purple-dark");
$color_tag-orange-background: nhsapp-colour("orange-light");
$color_tag-orange-text: nhsapp-colour("orange-dark");
$color_tag-pink-background: nhsapp-colour("pink-light");
$color_tag-pink-text: nhsapp-colour("pink-dark");
$color_tag-red-background: nhsapp-colour("red-light");
$color_tag-red-text: nhsapp-colour("red-dark");
$color_tag-yellow-background: nhsapp-colour("yellow-light");
$color_tag-yellow-text: nhsapp-colour("yellow-dark");

.nhsapp-tag {
  @include nhsuk-font($size: 16, $weight: normal, $line-height: 1.25);
  background-color: $color_tag-blue-background;
  border: 1px solid transparent;
  border-radius: 2px;
  color: $color_tag-blue-text;
  display: inline-block;
  padding: 3px 9px; // Minus the border width

  @include nhsuk-media-query($from: tablet) {
    line-height: 1.4285em;
  }
}

/* Colour variants
    ========================================================================== */

.nhsapp-tag--white {
  background-color: nhsuk-colour("white");
  border-color: nhsuk-colour("grey-4");
  color: nhsuk-colour("black");
}

.nhsapp-tag--grey {
  background-color: $color_tag-grey-background;
  color: $color_tag-grey-text;
}

.nhsapp-tag--green {
  background-color: $color_tag-green-background;
  color: $color_tag-green-text;
}

.nhsapp-tag--aqua-green {
  background-color: $color_tag-aqua-green-background;
  color: $color_tag-aqua-green-text;
}

.nhsapp-tag--blue {
  background-color: $color_tag-blue-background;
  color: $color_tag-blue-text;
}

.nhsapp-tag--purple {
  background-color: $color_tag-purple-background;
  color: $color_tag-purple-text;
}

.nhsapp-tag--pink {
  background-color: $color_tag-pink-background;
  color: $color_tag-pink-text;
}

.nhsapp-tag--red {
  background-color: $color_tag-red-background;
  color: $color_tag-red-text;
}

.nhsapp-tag--orange {
  background-color: $color_tag-orange-background;
  color: $color_tag-orange-text;
}

.nhsapp-tag--yellow {
  background-color: $color_tag-yellow-background;
  color: $color_tag-yellow-text;
}
