@use "nhsuk-frontend/dist/nhsuk/core/tools/spacing" as *;
@use "nhsuk-frontend/dist/nhsuk/core/tools/sass-mq" as *;
@use "nhsuk-frontend/dist/nhsuk/core/settings/colours-applied" as *;

$expander-border-radius: nhsuk-spacing(2);
$expander-border-width: 2px; // Default is otherwise 1px

.nhsapp-expander {
  border-radius: $expander-border-radius;

  .nhsuk-details__summary {
    border-radius: $expander-border-radius;
    border-width: $expander-border-width;
    padding: nhsuk-spacing(3);

    @include nhsuk-media-query($from: tablet) {
      padding: nhsuk-spacing(4);
    }
  }

  .nhsuk-details__summary-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nhsuk-details__text {
    border-radius: 0 0 $expander-border-radius $expander-border-radius;
    padding-left: nhsuk-spacing(3);
    padding-right: nhsuk-spacing(3);

    @include nhsuk-media-query($from: tablet) {
      padding-left: nhsuk-spacing(4);
      padding-right: nhsuk-spacing(4);
      padding-bottom: nhsuk-spacing(4);
    }
  }

  &[open] {
    .nhsuk-details__summary {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .nhsuk-details__text {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-width: 0 $expander-border-width $expander-border-width $expander-border-width;
    }
  }

  // Keep the border colour constant on hover, to match the
  // style of card links.
  .nhsuk-details__summary:hover,
  .nhsuk-details__summary:hover + .nhsuk-details__text,
  &:has(.nhsuk-details__summary:hover) .nhsuk-details__summary,
  &:has(.nhsuk-details__summary:hover) .nhsuk-details__text {
    border-color: $nhsuk-border-colour;
  }
}
