---
title: Home menu
showHtml: false
openFirst: true
swiftArguments: home-menu
swiftCode: |
  HomeMenu(accessibilityLabel: "Health services") {
    HomeMenuItem(title: "Prescriptions", systemImage: "pills.fill") { }
    HomeMenuItem(title: "Vaccinations", systemImage: "syringe.fill") { }
  }
---
