<div class="app-example">
  <span class="app-example__new-window">
    <a href="{{ href }}" target="_blank">Open this example <span class="nhsuk-u-visually-hidden">({{ title }})</span> in a new tab</a>
  </span>
  {%- if mobile == true %}
  <div class="app-iframe__container">
    <div class="app-iframe__header {%- if mobileHeader == "blue" %} app-iframe__header--blue{% endif -%}"></div>
    <svg class="ios-notch" viewBox="-40 0 300 31">
      <path d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z" fill-rule="evenodd"></path>
    </svg>
  {% endif -%}
  <iframe
    onload="{%- if mobile == true %}{% else %}this.style.height = this.contentWindow.document.documentElement.scrollHeight + 'px';{% endif %}"
    class="app-example__frame"
    scrolling="auto"
    frameborder="0"
    height="{%- if mobile == true %}700px{% else %}{{ height }}{% endif %}"
    src="{{ href }}"
    title="{{ title }}"
  ></iframe>
  {%- if mobile == true %}
  </div>
  {% endif -%}
</div>

<div class="app-tabs" data-module="app-tabs">
  <ul class="app-tabs__list" role="tablist">
    <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab nhsuk-link--no-visited-state" href="#html-default-{{ id }}" role="tab" id="tab_html-default-{{ id }}" aria-controls="html-default-{{ id }}">HTML</a></li>
    <li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab nhsuk-link--no-visited-state" href="#nunjucks-default-{{ id }}" role="tab" id="tab_nunjucks-default-{{ id }}" aria-controls="nunjucks-default-{{ id }}">Nunjucks</a></li>
    {%- if jsCode %}<li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab nhsuk-link--no-visited-state" href="#js-default-{{ id }}" role="tab" id="tab_js-default-{{ id }}" aria-controls="js-default-{{ id }}">JavaScript</a></li>{% endif -%}
    {%- if figmaLink %}<li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab nhsuk-link--no-visited-state" href="#figma-default-{{ id }}" role="tab" id="tab_figma-default-{{ id }}" aria-controls="figma-default-{{ id }}">Figma</a></li>{% endif -%}
    {%- if vueLink %}<li class="app-tabs__list-item" role="presentation"><a class="app-tabs__tab nhsuk-link--no-visited-state" href="#vue-default-{{ id }}" role="tab" id="tab_vue-default-{{ id }}" aria-controls="vue-default-{{ id }}">Vue</a></li>{% endif -%}
  </ul>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="html-default-{{ id }}" role="tabpanel" aria-labelledby="tab_html-default-{{ id }}">
    <button class="app-copy__button app-u-hidden" data-module="app-copy" data-clipboard-target="#html-default-{{ id }}-code">Copy code</button>
    <div id="html-default-{{ id }}-code">
      {%- highlight "html" -%}
        {{ htmlCode | safe }}
      {%- endhighlight -%}
    </div>
  </div>

  <div class="app-tabs__panel app-tabs__panel--hidden" id="nunjucks-default-{{ id }}" role="tabpanel" aria-labelledby="tab_nunjucks-default-{{ id }}">
    <button class="app-copy__button app-u-hidden" data-module="app-copy" data-clipboard-target="#nunjucks-default-{{ id }}-code">Copy code</button>

    {%- if arguments -%}
      <details class="nhsuk-details nhsuk-u-padding-top-4 nhsuk-u-padding-left-4 nhsuk-u-padding-right-4" data-module="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Nunjucks macro options
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.</p>
          <p>Some options are required for the macro to work; these are marked as "Required" in the option description.</p>
          <p>If you're using Nunjucks macros in production with "html" options, or ones ending with "html", you must sanitise the HTML to protect against <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">cross-site scripting exploits</a>.</p>
          {% include "nhsapp/components/" + arguments + "/macro-options.md" ignore missing %}
        </div>
      </details>
    {%- endif -%}

<div id="nunjucks-default-{{ id }}-code">
```jinja2
{{ nunjucksCode | safe }}
```
</div>

  </div>

  {% if figmaLink -%}
<div class="app-tabs__panel nhsuk-u-padding-2 app-tabs__panel--hidden" id="figma-default-{{ id }}" role="tabpanel" aria-labelledby="tab_figma-default-{{ id }}">

  To use the component in your design, add the NHS App Figma library to your working files, and navigate using the components tab.

  <a href="{{ figmaLink }}" class="nhsuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">View component in Figma (opens in a new tab)</a>
</div>
  {% endif -%}

  {% if vueLink -%}
<div class="app-tabs__panel nhsuk-u-padding-2 app-tabs__panel--hidden" id="vue-default-{{ id }}" role="tabpanel" aria-labelledby="tab_vue-default-{{ id }}">

  To use the component in your Vue application, install the NHS App Vue Component Library and import the component.

  <a href="{{ vueLink }}" class="nhsuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">View component in Vue (opens in a new tab)</a>
</div>
  {% endif -%}
</div>
