---
layout: layouts/example.njk
title: Contact NHS App team
figmaLink: 
vueLink: 
---

<h2 class="nhsuk-heading-m">If the problem continues</h2>
<p>If the problem keeps happening, make a note of the <strong>error code 3ezxja</strong> and then <a href="#">contact the NHS App team</a>.</p>
