---
layout: layouts/example.njk
title: Contact NHS App team
figmaLink: 
vueLink: 
---

<h2 class="nhsuk-heading-m">If the problem continues</h2>
<p>Make a note of the error code <strong>3ezxja</strong> and then <a href="#">contact the NHS App team</a>.</p>
