---
layout: layouts/example-full-page-mobile.njk
mobile: true
title: Error page - Could not show people you manage services for
figmaLink: 
vueLink: 
---

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">We could not show details of people you manage services for</h1>

    <p>Try again later, or contact the GP surgery of the person whose services you were trying to access.</p>

    <h2 class="nhsuk-heading-m">If the problem continues</h2>

    <p>Make a note of the error code <strong>3ezxja</strong> and then <a href="#">contact the NHS App team</a>.</p>

    <div>  
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-display-inline-block nhsuk-u-font-size-19 nhsuk-u-margin-top-2">Go back to home</a>
    </div>

  </div>
</div>