---
layout: layouts/example-full-page-mobile.njk
mobile: true
title: Error page - No appointments
backlink: true
hub: Services
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Contact your GP surgery to book an appointment</h1>

    <p>Your GP surgery is no booking appointments through the NHS App right now.</p>

    <p>Contact them directly to book an appointment.</p>

    {{ button({
      text: "Find GP surgery contact details",
      classes: "nhsapp-button"
    }) }}

    <p>For urgent medical advice, use <a href="https://111.nhs.uk/">111 online</a> or <a href="tel: 111">call 111</a>.</p>

  </div>
</div>