---
layout: layouts/example-full-page-native.njk
mobile: true
title: Problem with services
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}
{% from "nhsapp/components/card/macro.njk" import nhsappCard %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">There is a problem with this service</h1>

    <p>This may be a temporary problem. Try again later.</p>

    <p>If the problem keeps happening, make a note of the error code <strong>3xxxx</strong> and then contact us.</p>

    {{ button({
      text: "Contact the NHS App team",
      classes: "nhsapp-button--secondary nhsapp-button"
    }) }}

    <h2>Other options</h2>

    {{ nhsappCard({
      title: 'Find NHS services near you',
      href: '#'
    }) }}

  </div>
</div>