---
layout: layouts/example-full-page-mobile.njk
mobile: true
title: Error page - Repeat prescriptions
backlink: true
hub: Your health
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">We could not access repeat prescriptions</h1>

    <p>This may be a temporary problem. You can try again.</p>

    {{ button({
      text: "Try again",
      classes: "nhsapp-button--secondary nhsapp-button"
    }) }}

  </div>
</div>