---
layout: layouts/example-full-page-mobile.njk
mobile: true
title: Error page - Show GP appointments
hub: Your health
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">We could not show your GP appointments</h1>

    <p>Try loading GP appointments again.</p>

    <h2 class="nhsuk-heading-m">If the problem continues</h2>

    <p>Contact your GP surgery directly if you need to book or change an upcoming appointment now.</p>

    <p>For urgent medical advice, use <a href="https://111.nhs.uk/">111 online</a> or <a href="tel: 111">call 111</a>.</p>

    {{ button({
      text: "Try again",
      classes: "nhsuk-button--secondary nhsapp-button nhsuk-u-margin-top-3"
    }) }}

    <div class="nhsuk-u-margin-top-1">  
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-size-19">Go to appointments</a>
    </div>

  </div>
</div>