---
layout: layouts/example-full-page-mobile-not-logged-in.njk
mobile: true
mobileHeader: "blue"
title: Error page - Update NHS App
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Update the NHS App to continue</h1>

    <p>You will not be able to use it until you do.</p>

    <p>For urgent medical advice, use <a href="https://111.nhs.uk/">111 online</a> or <a href="tel: 111">call 111</a>.</p>

    {{ button({
      text: "Update the NHS App",
      classes: "nhsapp-button--secondary nhsapp-button nhsuk-u-margin-top-3"
    }) }}

  </div>
</div>