// Fixes service name placement and style
.app-header {
  background-color: $app-brand-color;

  .nhsuk-header__navigation-link {
    margin-right: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .nhsuk-header__menu-toggle--visible {
    padding-right: 30px;
  }

  .nhsuk-header__drop-down {
    .nhsuk-header__navigation-link {
      padding: 12px 16px;
    }
  }
}

// Hide home nav link
.nhsuk-header__navigation-item--home {
  display: none;
}
