// Hero overrides
// Reduces spacing on mobile screens
.app-hero {
  background-color: $app-brand-color;

  .nhsuk-hero__wrapper {
    @include nhsuk-media-query($until: tablet) {
      padding-bottom: nhsuk-spacing(5);
      padding-top: nhsuk-spacing(5);
    }
  }
}

.app-hero-img {
  margin: 56px auto 56px auto;
  max-width: 100%;

  @include nhsuk-media-query($until: desktop) {
    display: none;
  }
}
