// Hero overrides
// Reduces spacing on mobile screens
.app-hero {
  background-color: $app-brand-color;

  @include nhsuk-media-query($from: desktop, $until: large-desktop) {
    background-image: url("/assets/images/hero-image.svg");
    background-repeat: no-repeat;
    background-position: right -20% bottom;
    background-size: 370px auto;
  }

  .nhsuk-width-container {
    @include nhsuk-media-query($from: large-desktop) {
      background-image: url("/assets/images/hero-image.svg");
      background-repeat: no-repeat;
      background-position: right -30px bottom;
      background-size: 320px auto;
    }
  }

  .nhsuk-hero__wrapper {
    @include nhsuk-media-query($until: tablet) {
      padding-bottom: nhsuk-spacing(5);
      padding-top: nhsuk-spacing(5);
    }

    @include nhsuk-media-query($from: desktop) {
      min-height: 480px;
    }

    @include nhsuk-media-query($from: large-desktop) {
      min-height: 420px;
    }
  }
}
