/* ==========================================================================
   #SIDE NAVIGATION
   ========================================================================== */

.app-side-navigation {
  @include nhsuk-font($size: 16);

  display: block;
  padding: nhsuk-spacing(5) 0 0;
}

.app-side-navigation__title {
  @include nhsuk-font($size: 19);

  color: nhsuk-colour("grey-1");
  font-weight: normal;
  margin: 0;
  padding: nhsuk-spacing(1) nhsuk-spacing(2) nhsuk-spacing(2) 0;
}

.app-side-navigation__list {
  list-style: none;
  margin: 0 0 nhsuk-spacing(4);
  padding: 0;
}

.app-side-navigation__item {
  @include nhsuk-font($size: 16);
  margin-left: -12px;

  a {
    padding-left: nhsuk-spacing(2);
  }

  a,
  a:link,
  a:visited {
    border-left: 4px solid transparent;
    color: $nhsuk-link-colour;
    display: block;
    padding: nhsuk-spacing(1) nhsuk-spacing(2);
    text-decoration: none;
  }

  a:hover {
    color: $nhsuk-link-hover-colour;
    border-color: $nhsuk-link-hover-colour;
  }

  a:focus {
    background-color: $nhsuk-focus-colour;
    border-color: $nhsuk-focus-text-colour;
    box-shadow: none;
    color: $nhsuk-focus-text-colour;
    position: relative;
  }
}

.app-side-navigation__item--active {
  a:link,
  a:visited {
    border-color: $nhsuk-link-colour;
    color: $nhsuk-link-colour;
    font-weight: bold;
  }

  a:hover {
    border-color: $nhsuk-link-hover-colour;
    color: $nhsuk-link-hover-colour;
  }

  a:focus {
    background-color: $nhsuk-focus-colour;
    border-color: $nhsuk-focus-text-colour;
    box-shadow: none;
    color: $nhsuk-focus-text-colour;
  }
}

.app-side-navigation--desktop {
  padding-bottom: nhsuk-spacing(4);
  padding-right: nhsuk-spacing(1);

  @include nhsuk-media-query($until: desktop) {
    display: none;
  }
}

.app-side-navigation--section {
  border-top: 1px solid $nhsuk-border-colour;
  padding-top: nhsuk-spacing(4);
}

.app-side-navigation--mobile {
  padding: nhsuk-spacing(4) 0;

  .app-side-navigation {
    padding: 0 0 nhsuk-spacing(3);

    .app-side-navigation__list:last-child {
      margin-bottom: 0;
    }
  }

  .app-side-navigation--section {
    padding-top: nhsuk-spacing(3);
  }

  .app-side-navigation__title {
    font-weight: bold;
  }

  .app-side-navigation__item {
    @include nhsuk-font(19);
  }

  @include nhsuk-media-query($from: desktop) {
    display: none;
  }
}
