---
layout: layouts/example.njk
title: Section heading with link
figmaLink: "https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?m=dev&node-id=916-9803"
vueLink: "https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhssectionheading--docs"
---

{% from "nhsapp/styles/section-heading/macro.njk" import nhsappSectionHeading %}

{{ nhsappSectionHeading({
  headingText: "Services",
  linkText: "View all",
  linkUrl: "#",
  linkAriaLabel: "View all services"
}) }}