---
section: android
---

{% extends "./sidebar.njk" %}
{% from 'nhsapp/components/tag/macro.njk' import nhsappTag %}

{% block content %}
  {{ nhsappTag({
  text: 'Work in progress',
  classes: 'nhsapp-tag--blue nhsuk-u-margin-bottom-4'
  })}}

  {% if tags and "android" in tags %}
    <span class="nhsuk-caption-xl">Android</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  <p>{{ description }}</p>
  {{ content | safe }}

{% endblock %}
