{%- from 'header/macro.njk' import header -%}
{%- from 'footer/macro.njk' import footer -%}
{%- from 'skip-link/macro.njk' import skipLink -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link href="/assets/css/app.css" rel="stylesheet" />

    <title>{{ title }}</title>
  </head>
  <body>
    {% block header %}
      {{ skipLink({
        "URL": "#maincontent",
        "heading": "Skip to main content"
      }) }}

      {{ header({
        "showNav": "false",
        "showSearch": "false",
        "homeHref": baseUrl
      }) }}
    {% endblock %}

    {% block body %}
      {% block content %}
        <main class="app-prose-scope" role="main">
          {{ content | safe }}
        </main>
      {% endblock %}
    {% endblock body %}
    {% block footer %}{% endblock %}
  </body>
</html>
