{% extends "nhsuk/template.njk" %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'back-link/macro.njk' import backLink %}
{% from "icon/macro.njk" import nhsappIcon %}

{% block pageTitle -%}
  {% if title %}{{ title }} - {% endif %}NHS App design system
{%- endblock %}

{% block head %}
  <link href="/assets/css/app.css" rel="stylesheet" />

  <meta property="og:url" content="https://design-system.nhsapp.service.nhs.uk/"/>
  <meta property="og:site_name" content="nhs.uk"/>
  <meta property="og:title" content="NHS App design system"/>
  <meta property="og:description" content="Design and build accessible services for the NHS App. Use the NHS App design system to learn from the work and experiences of others."/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_GB"/>
  <meta property="og:image" content="https://design-system.nhsapp.service.nhs.uk/assets/images/open-graph.png"/>

{% endblock %}

{% block header %}
  {{ header({
    logo: {
      ariaLabel: 'NHS'
      
    },
    service: {
      text: 'App design system <span class="nhsuk-u-visually-hidden">homepage</span>' | safe,
      href: '/'
    },
    navigation: {
      items: [
        {
          href: '/get-started/',
          text: 'Get started',
          active: page and page.url and '/get-started/' in page.url
        },
        {
          href: '/styles/',
          text: 'Styles'
        },
        {
          href: '/components/',
          text: 'Components',
          active: page and page.url and '/components/' in page.url
        },
        {
          href: '/patterns/',
          text: 'Patterns',
          active: page and page.url and '/patterns/' in page.url
        },
        {
          href: '/community/',
          text: 'Community',
          active: page and page.url and '/community/' in page.url
        }
      ]
    }
  }) }}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: '/community/help-and-feedback/',
          text: 'Help and feedback'
        },
        {
          href: 'https://github.com/nhsuk/nhsapp-frontend',
          text: 'Code on Github'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
  <script type="module" src="/nhsuk-frontend/dist/nhsuk/nhsuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/dist/nhsuk/nhsuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}