{% from 'header/macro.njk' import header %}
{% from 'footer/macro.njk' import footer %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'skip-link/macro.njk' import skipLink %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link href="/assets/css/app.css" rel="stylesheet" />
    <script src="/assets/js/app.js" defer></script>

    <title>{{ title }}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      {% block skiplink %}
        {{ skipLink({
          "URL": "#maincontent",
          "heading": "Skip to main content"
        }) }}
      {% endblock skiplink %}

      {% block header %}
        {{ header({
          service: {
            name: "App design system"
          },
          showNav: "false",
          showSearch: "false",
          homeHref: baseUrl,
          classes: "app-header",
          ariaLabel: "NHS App design system homepage"
        }) }}
      {% endblock %}

      {% block breadcrumb %}
      {% endblock %}

      {% block container %}
        <div class="nhsuk-width-container">
          <main role="main" id="maincontent" class="nhsuk-main-wrapper">
            {% block main %}
              {{ content | safe }}
            {% endblock main %}
          </main>
        </div>
      {% endblock container %}

      {% block footer %}

      {{ footer({
        "links": [
          {
            "URL": "/help-and-feedback/",
            "label": "Help and feedback"
          },
          {
            "URL": "https://github.com/nhsuk/nhsapp-frontend",
            "label": "Code on Github"
          }
        ]
      })}}
      {% endblock %}

    {% endblock body %}
  </body>
</html>
