{% extends "./sidebar.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% block breadcrumb %}
  {% if title === "Community" %}
    {{ breadcrumb({
      href: "/",
      text: "Home"
    }) }}
  {% else %}
    {{ breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        }
      ],
      href: "/community",
      text: "Community"
    }) }}
  {% endif %}
{% endblock %}

{% set sidebar %}
  {{ appSideNavigation({
    label: 'Support',
    currentPath: page.url,
    sections: [
      {
        heading: {
          text: 'Contributing'
        },
        items: collections.contribution | sort(attribute="data.title")
      },
      {
        heading: {
          text: 'Support'
        },
        items: collections.community | sort(attribute="data.title")
      }
    ]
  }) }}
{% endset %}

{% block main %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  <p class="nhsuk-u-margin-bottom-5">{{ description }}</p>
  {{ content | safe }}
{% endblock %}
