{% extends "./base.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% block content %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        {{ appSideNavigation({
          currentPath: page.url | url,
          classes: 'app-side-navigation--desktop nhsuk-u-padding-top-6',
          sections: [
            {
              heading: {
                text: "Components"
              },
              items: collections.component
            }
          ]
        }) }}
      </div>
      <div class="nhsuk-grid-column-two-thirds">
        <main id="main-content" class="nhsuk-main-wrapper" role="main">
          <h1 class="nhsuk-heading-xl">
            {% if not isIndex %}<span class="nhsuk-caption-xl">Components</span>{% endif %}
            {{ title }}
          </h1>
          {{ content | safe }}

          {{ appSideNavigation({
            classes: 'app-side-navigation--mobile',
            currentPath: page.url | url,
            sections: [
              {
                heading: {
                  text: "Components"
                },
                items: collections.component
              }
            ]
          }) }}
        </main>
      </div>
    </div>
  </div>
{% endblock %}
