{% extends "./sidebar.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% set sidebar %}
  {{ appSideNavigation({
    classes: 'nhsuk-u-padding-top-6',
    currentPath: page.url,
    sections: [
      {
        heading: {
          text: "Components"
        },
        items: collections.component
      }
    ]
  }) }}
{% endset %}

{% block main %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {% if tags and "component" in tags %}<span class="nhsuk-caption-l">Components</span>{% endif %}
    {{ title }}
  </h1>
  <p class="nhsuk-body-l nhsuk-u-margin-bottom-7">{{ description }}</p>
  {{ content | safe }}
{% endblock %}
