---
htmlAttributes:
  class: app-html-background-color-grey-5
---

{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
