{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}

{% if exampleLoggedIn === false %}
  {% set mainClasses = "nhsuk-main-wrapper--s" %}
{% else %}
  {% set containerClasses = "app-width-container" %}
  {% set mainClasses = "app-main-wrapper" %}
{% endif %}

{% block header %}
  {% if exampleLoggedIn === false %}
    {% include "layouts/partials/header-native.njk" %}
  {% else %}
    {% include "layouts/partials/top-nav-native.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if exampleLoggedIn === false %}
  {% else %}
    {% include "layouts/partials/bottom-nav-native.njk" %}
  {% endif %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
