---
htmlAttributes:
  class: app-html-background-color-grey-5
---

{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}

{% block header %}
  {% include "layouts/partials/header-native.njk" %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
