{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}

{% set htmlClasses = "app-html-background-color-grey-5" %}
{% set containerClasses = "app-width-container" %}
{% set mainClasses = "app-main-wrapper" %}

{% block header %}
  {% include "layouts/partials/top-nav-native.njk" %}
{% endblock %}

{% block footer %}
  {% include "layouts/partials/bottom-nav-native.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if backLink %}
    {{ backLink({
      href: "#",
      text: Back,
      classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
  {% else %}
  {% endif %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
