{% extends "./base.njk" %}

{% set htmlClasses = "app-html-background-color-grey-5" %}

{% block skiplink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
