---
htmlAttributes:
  class: app-html-background-colour-grey-5
---

{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}

{% set containerClasses = "app-width-container" %}
{% set mainClasses = "app-main-wrapper" %}

{% block header %}
  {% include "layouts/partials/top-nav-native.njk" %}
{% endblock %}

{% block footer %}
  {% include "layouts/partials/bottom-nav-native.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if backlink %}
    {{ backLink({
      href: backLinkHref | default("#"),
      text: backLinkText | default("Back"),
      classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
