{% extends "./base.njk" %}

{% block skiplink %}{% endblock %}

{% set htmlClasses = "app-html-background-color-grey-5" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block header %}
  {% include "layouts/partials/header-native.njk" %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
