{% extends "./base.njk" %}

{% block header %}
  {% include "layouts/partials/header-web.njk" %}
{% endblock %}

{% block footer %}
  {% include "layouts/partials/footer-web.njk" %}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
