---
section: web
---

{% extends "./sidebar.njk" %}

{% block sidebar %}
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Prototyping</h3>
  {{ sectionNavigation({
    ariaLabel: "Prototyping",
    direction: "vertical",
    small: true,
    items: collections.prototyping | sort(attribute="data.order") | toSectionNavigationItems(page.url)
  }) }}

  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Production</h3>
  {{ sectionNavigation({
    ariaLabel: "Production",
    direction: "vertical",
    small: true,
    items: collections.production | sort(attribute="data.order") | toSectionNavigationItems(page.url)
  }) }}

  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Integrating with the NHS App</h3>
  {{ sectionNavigation({
    ariaLabel: "Integrating with the NHS App",
    direction: "vertical",
    small: true,
    items: collections.integration | sort(attribute="data.order") | toSectionNavigationItems(page.url)
  }) }}
{% endblock %}

{% block content %}
  {% if tags and "prototyping" in tags %}
    <span class="nhsuk-caption-xl">Prototyping</span>
  {% elif tags and "production" in tags %}
    <span class="nhsuk-caption-xl">Production</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  {{ content | safe }}
{% endblock %}
