{% extends "./sidebar.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% block breadcrumb %}
  {% if title === "Get started" %}
    {{ breadcrumb({
      href: "/",
      text: "Home"
    }) }}
  {% else %}
    {{ breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        }
      ],
      href: "/get-started",
      text: "Get started"
    }) }}
  {% endif %}
{% endblock %}

{% set sidebar %}
  {{ appSideNavigation({
    currentPath: page.url,
    items: collections.getStarted | sort(attribute="data.title")
  }) }}
{% endset %}

{% block main %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-7">
    {{ title }}
  </h1>
  {{ content | safe }}
{% endblock %}
