{% extends "./sidebar.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% block beforeContent %}
  {% if title === "Get started" %}
    {{ breadcrumb({
      href: "/",
      text: "Home"
    }) }}
  {% else %}
    {{ breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        }
      ],
      href: "/get-started",
      text: "Get started"
    }) }}
  {% endif %}
{% endblock %}

{% set sidebar %}
  {{ appSideNavigation({
    label: 'How we work',
    currentPath: page.url,
    sections: [
      {
        heading: {
          text: 'Prototyping'
        },
        items: collections.prototyping
      },
      {
        heading: {
          text: 'Production'
        },
        items: collections.production
      }
    ]
  }) }}
{% endset %}

{% block main %}
  {% if tags and "prototyping" in tags %}
    <span class="nhsuk-caption-xl">Prototyping</span>
  {% elif tags and "production" in tags %}
    <span class="nhsuk-caption-xl">Production</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  {{ content | safe }}
{% endblock %}
