{% from "icon/macro.njk" import nhsappIcon %}

 <table class="app-table">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Label</th>
      <th>Code in GitHub</th>
      <th>Used in</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ nhsappIcon('account') }}</td>
      <td>account</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/account.svg">account.svg</a></td>
      <td>Account and settings - <a href="/components/top-navigation/">top navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('chevronRight') }}</td>
      <td>chevronRight</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/chevron-right.svg">chevron-right.svg</a></td>
      <td><a href="/components/card-links/">Card links</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('crossFilled') }}</td>
      <td>crossFilled</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/cross-filled.svg">cross-filled.svg</a></td>
      <td>Services (active state) - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('cross') }}</td>
      <td>cross</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/cross.svg">cross.svg</a></td>
      <td>Services - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('heartFilled') }}</td>
      <td>heartFilled</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/heart-filled.svg">heart-filled.svg</a></td>
      <td>Your health (active state) - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('heart') }}</td>
      <td>heart</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/heart.svg">heart.svg</a></td>
      <td>Your health - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('help') }}</td>
      <td>help</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/help.svg">help.svg</a></td>
      <td>Help - <a href="/components/top-navigation/">top navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('homeFilled') }}</td>
      <td>homeFilled</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/home-filled.svg">home-filled.svg</a></td>
      <td>Home (active state) - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('home') }}</td>
      <td>home</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/home.svg">home.svg</a></td>
      <td>Home - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('messagesFilled') }}</td>
      <td>messagesFilled</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/messages-filled.svg">messages-filled.svg</a></td>
      <td>Messages (active state) - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('messages') }}</td>
      <td>messages</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/messages.svg">messages.svg</a></td>
       <td>Messages - <a href="/components/bottom-navigation/">bottom navigation</a> and <a href="/components/card-links/">card links</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('messagesUnreadFilled') }}</td>
      <td>messagesUnreadFilled</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/messages-unread-filled.svg">messages-unread-filled.svg</a></td>
      <td>Messages with unread items (active state) - <a href="/components/bottom-navigation/">bottom navigation</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('messagesUnread') }}</td>
      <td>messagesUnread</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/messages-unread.svg">messages-unread.svg</a></td>
      <td>Messages with unread items - <a href="/components/bottom-navigation/">bottom navigation</a> and <a href="/components/card-links/">card links</a></td>
    </tr>
    <tr>
      <td>{{ nhsappIcon('switchProfile') }}</td>
      <td>switchProfile</td>
      <td><a target="_blank" rel="noopener noreferrer" href="https://github.com/nhsuk/nhsapp-frontend/tree/main/src/assets/icons/switch-profile.svg">switch-profile.svg</a></td>
      <td><a href="/components/card-links/">Card links</a></td>
    </tr>
  </tbody>
</table>