---
section: ios
---

{% extends "./sidebar.njk" %}
{% from 'nhsapp/components/tag/macro.njk' import nhsappTag %}

{% if page.url == '/ios/' or (tags and 'ios' in tags) %}
  {% set sidebarLabel = 'Get started' %}
  {% set sidebarItems = collections.ios %}
{% elif page.url == '/ios/styles/' or (tags and 'iosStyles' in tags) %}
  {% set sidebarLabel = 'Styles' %}
  {% set sidebarItems = collections.iosStyles %}
{% elif page.url == '/ios/components/' or (tags and 'iosComponents' in tags) %}
  {% set sidebarLabel = 'Components' %}
  {% set sidebarItems = collections.iosComponents %}
{% elif page.url == '/ios/layouts/' or (tags and 'iosLayouts' in tags) %}
  {% set sidebarLabel = 'Layouts' %}
  {% set sidebarItems = collections.iosLayouts %}
{% endif %}

{% block sidebar %}
  {{ sectionNavigation({
    ariaLabel: sidebarLabel,
    direction: "vertical",
    small: true,
    items: sidebarItems | sort(attribute="data.title") | toSectionNavigationItems(page.url)
  }) }}
{% endblock %}

{% block content %}
    {{ nhsappTag({
    text: 'Work in progress',
    classes: 'nhsapp-tag--blue nhsuk-u-margin-bottom-4'
    })}}

  {% if section == "ios" %}
    <span class="nhsuk-caption-xl">iOS</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  <p>{{ description }}</p>
  {{ content | safe }}
  {% if section == "ios" %}
    {% include "layouts/partials/feedback-section.njk" %}
  {% endif %}
{% endblock %}
