---
section: ios
---

{% extends "./sidebar.njk" %}
{% from 'nhsapp/components/tag/macro.njk' import nhsappTag %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% if page.url == '/ios/' or (tags and 'ios' in tags) %}
  {% set sidebarHeading = 'Get started' %}
  {% set sidebarItems = collections.ios %}
{% elif page.url == '/ios/styles/' or (tags and 'iosStyles' in tags) %}
  {% set sidebarHeading = 'Styles' %}
  {% set sidebarItems = collections.iosStyles %}
{% elif page.url == '/ios/components/' or (tags and 'iosComponents' in tags) %}
  {% set sidebarHeading = 'Components' %}
  {% set sidebarItems = collections.iosComponents %}
{% elif page.url == '/ios/layouts/' or (tags and 'iosLayouts' in tags) %}
  {% set sidebarHeading = 'Layouts' %}
  {% set sidebarItems = collections.iosLayouts %}
{% endif %}

{% set sidebar %}
  {{ appSideNavigation({
    label: sidebarHeading,
    currentPath: page.url,
    sections: [
      {        
        items: sidebarItems | sort(attribute="data.title")
      }
    ]
  }) }}
{% endset %}

{% block content %}
    {{ nhsappTag({
    text: 'Work in progress',
    classes: 'nhsapp-tag--blue nhsuk-u-margin-bottom-4'
    })}}

  {% if section == "ios" %}
    <span class="nhsuk-caption-xl">iOS</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  <p>{{ description }}</p>
  {{ content | safe }}
  {% if section == "ios" %}
    {% include "layouts/partials/feedback-section.njk" %}
  {% endif %}
{% endblock %}
