---
section: web
---

{% extends "./sidebar.njk" %}

{% block beforeContent %}
  {% if title === "Get started" %}
    {{ breadcrumb({
      href: "/",
      text: "Home"
    }) }}
  {% else %}
    {{ breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        },
        {
          href: "/get-started",
          text: "Get started"
        }
      ],
      href: "/get-started/nhsapp-prototype",
      text: "NHS App prototype"
    }) }}
  {% endif %}
{% endblock %}

{% block sidebar %}
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">NHS App prototype</h3>
  {{ sectionNavigation({
    ariaLabel: "NHS App prototype",
    direction: "vertical",
    small: true,
    items: collections.nhsappPrototype | sort(attribute="data.order") | toSectionNavigationItems(page.url)
  }) }}
{% endblock %}

{% block content %}
  <span class="nhsuk-caption-xl">NHS App prototype</span>
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  {{ content | safe }}
  
{% endblock %}
