{% extends "./sidebar.njk" %}

{%- from "./partials/side-navigation.njk" import appSideNavigation %}

{% block beforeContent %}
  {% if title === "Patterns" %}
    {{ breadcrumb({
      href: "/",
      text: "Home"
    }) }}
  {% else %}
    {{ breadcrumb({
      items: [
        {
          href: "/",
          text: "Home"
        }
      ],
      href: "/patterns",
      text: "Patterns"
    }) }}
  {% endif %}
{% endblock %}

{% set sidebar %}
  {{ appSideNavigation({
    label: 'Patterns',
    currentPath: page.url,
    sections: [
      {
        heading: {
          text: 'Help users to'
        },
        items: collections.helpUsers | sort(attribute="data.title")
      },
      {
        heading: {
          text: 'Pages'
        },
        items: collections.page | sort(attribute="data.title")
      },
      {
        heading: {
          text: 'Help users to'
        },
        items: collections.helpUsers | sort(attribute="data.title")
      }
    ]
  }) }}
{% endset %}

{% block content %}
  {% if tags and "page" in tags %}
    <span class="nhsuk-caption-xl">Pages</span>
  {% elif tags and "helpUsers" in tags %}
    <span class="nhsuk-caption-xl">Help users to</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  {% if pageNotice %}
    {% include "layouts/partials/" + pageNotice + ".njk" %}
  {% endif %}
  <p>{{ description }}</p>
  {{ content | safe }}
  {% if tags and ("page" in tags or "helpUsers" in tags) %}
    {% include "layouts/partials/feedback-section.njk" %}
  {% endif %}
{% endblock %}
