{% extends "./base.njk" %}

{% block container %}
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter">
        {% block sidebar_desktop %}
          <div class="app-side-navigation--desktop">
            {{ sidebar | safe }}
          </div>
        {% endblock %}
      </div>

      <div class="nhsuk-grid-column-three-quarters">
        <main role="main" id="maincontent" class="nhsuk-main-wrapper app-content">
          {% block main %}
            {{ content | safe }}
          {% endblock main %}
        </main>

        {# Sidebar nav is at the bottom for mobile #}
        {% block sidebar_mobile %}
          <div class="app-side-navigation--mobile">
            {{ sidebar | safe }}
          </div>
        {% endblock %}

        {% if title === "Help and feedback" %}
        {% else %}
          <hr class="nhsuk-u-margin-top-0">
          {% include "layouts/partials/get-help.njk" %}
          <div class="nhsuk-u-padding-top-6"></div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
