{% extends "./base.njk" %}

{% block main %}
  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-u-padding-top-5">
        {% block sidebar %}{% endblock %}
      </div>

      <div class="nhsuk-grid-column-three-quarters">
        <main role="main" id="maincontent" class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-content">
          {% block content %}
            {{ content | safe }}
          {% endblock content %}
        </main>

        {% if help === "no" %}
        {% else %}
          {% include "layouts/partials/get-help.njk" %}
          <div class="nhsuk-u-padding-top-3"></div>
        {% endif %}

        {% include "layouts/partials/propose-change.njk" %}

      </div>
    </div>
  </div>
{% endblock %}
