---
section: web
---

{% extends "./sidebar.njk" %}

{% block sidebar %}
  {{ sectionNavigation({
    ariaLabel: "Styles",
    direction: "vertical",
    small: true,
    items: collections.style | sort(attribute="data.title") | toSectionNavigationItems(page.url)
  }) }}
{% endblock %}

{% block content %}
  {% if tags and "style" in tags %}
    <span class="nhsuk-caption-xl">Styles</span>
  {% endif %}
  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    {{ title }}
  </h1>
  <p>{{ description }}</p>
  {{ content | safe }}
  {% if tags and "style" in tags %}
    {% include "layouts/partials/feedback-section.njk" %}
  {% endif %}

{% endblock %}
