$button-shadow-size: 4px;
$button-border-width: 2px;
$button-padding-top-bottom-desktop: 12px;
$button-padding-top-bottom-mobile: 8px;
$button-padding-left-right: nhsuk-spacing(4);

$nhsapp-secondary-button-color: transparent;
$nhsapp-secondary-button-border-color: $color_nhsuk-blue;
$nhsapp-secondary-button-text-color: $color_nhsuk-blue;
$nhsapp-secondary-button-hover-color: tint($nhsapp-secondary-button-border-color, 85%);
$nhsapp-secondary-button-active-color: tint($nhsapp-secondary-button-border-color, 75%);
$nhsapp-secondary-button-shadow-color: $nhsapp-secondary-button-border-color;

// NHS App button
// Makes the button full width on mobile
.nhsapp-button {
  padding: $button-padding-top-bottom-desktop $button-padding-left-right;

  @include mq($until: tablet) {
    padding: $button-padding-top-bottom-mobile $button-padding-left-right;
    width: 100%;
  }
}

// NHS App secondary button
// PR has been submitted to the NHS.UK frontend - https://github.com/nhsuk/nhsuk-frontend/pull/1077
.nhsapp-button--secondary {
  background-color: $nhsapp-secondary-button-color;
  border: $button-border-width solid $nhsapp-secondary-button-border-color;
  box-shadow: 0 calc($button-shadow-size - $button-border-width) 0 $nhsapp-secondary-button-shadow-color;
  color: $nhsapp-secondary-button-text-color;
  padding-bottom: $button-padding-top-bottom-desktop + calc($button-border-width / 2);
  padding-top: $button-padding-top-bottom-desktop + calc($button-border-width / 2);

  @include mq($until: tablet) {
    padding-bottom: $button-padding-top-bottom-mobile + calc($button-border-width / 2);
    padding-top: $button-padding-top-bottom-mobile + calc($button-border-width / 2);
  }

  &::before {
    bottom: -$button-shadow-size;
  }

  &:hover {
    background-color: $nhsapp-secondary-button-hover-color;
    color: $nhsapp-secondary-button-text-color;
  }

  &:link,
  &:visited {
    color: $nhsapp-secondary-button-text-color;
  }

  &:focus {
    background: $nhsuk-focus-color;
    border-color: $nhsuk-focus-color;
    border-bottom: 0;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;

    &:visited {
      color: $nhsuk-focus-text-color;

      &:active {
        color: $nhsapp-secondary-button-text-color;
      }
    }
  }

  &:active {
    background: $nhsapp-secondary-button-active-color;
    border-color: $nhsapp-secondary-button-border-color;
    border-bottom: $button-border-width solid;
    box-shadow: none;
    color: $nhsapp-secondary-button-text-color;
    padding-bottom: $button-padding-top-bottom-desktop;
    padding-top: $button-padding-top-bottom-desktop;
    top: $button-shadow-size;

    @include mq($until: tablet) {
      padding-bottom: $button-padding-top-bottom-mobile;
      padding-top: $button-padding-top-bottom-mobile;
    }
  }
}

// Button group
// Code from GOV.UK Frontend
.nhsapp-button-group {
  $horizontal-gap: nhsuk-spacing(4);
  $vertical-gap: nhsuk-spacing(3);

  $link-spacing: nhsuk-spacing(2);

  @include nhsuk-responsive-margin(6, "bottom", $adjustment: $vertical-gap * -1);

  // Flexbox is used to center-align links on mobile, align everything along
  // the baseline on tablet and above, and to removes extra whitespace that
  // we'd get between the buttons and links because they're inline-blocks.
  //
  // Ideally we'd use `gap` with flexbox rather than having to do it all with
  // margins, but unfortunately the support isn't there (yet) and @supports
  // doesn't play nicely with it
  // (https://github.com/w3c/csswg-drafts/issues/3559)
  display: flex;
  flex-direction: column;
  align-items: center;

  // Give links within the button group the same font-size and line-height
  // as buttons.
  //
  // Because we want the focus state to be tight around the link text, we use
  // margins where the buttons would use padding.
  .nhsuk-link {
    @include nhsuk-font($size: 19, $line-height: 19px);
    display: inline-block;
    // Prevent links overflowing their container in IE10/11 because of bug
    // with align-items: center
    max-width: 100%;
    margin-top: $link-spacing;
    margin-bottom: $link-spacing + $vertical-gap;
    text-align: center;
  }

  // Reduce the bottom margin to the size of the vertical gap (accommodating
  // the button shadow) – the 'lost' margin is moved to the button-group.
  .nhsuk-button {
    margin-bottom: $vertical-gap + 4px;
  }

  // On tablet and above, we also introduce a 'column gap' between the
  // buttons and links in each row and left align links
  @include mq($from: tablet) {
    // Cancel out the column gap for the last item in each row
    margin-right: ($horizontal-gap * -1);

    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    .nhsuk-button,
    .nhsuk-link {
      margin-right: $horizontal-gap;
    }

    .nhsuk-link {
      text-align: left;
    }
  }
}
