$button-border-radius: nhsuk-spacing(2);

.nhsapp-button,
.nhsapp-button.nhsuk-button--secondary::before,
.nhsapp-button.nhsuk-button--secondary:active {
  border-radius: $button-border-radius;
}

.nhsapp-button.nhsuk-button--secondary:not(:focus)::after,
.nhsapp-button.nhsuk-button--secondary-solid:not(:focus)::after {
  border-radius: $button-border-radius - 2px !important;
}
