---
layout: layouts/example-full-page-mobile.njk
mobile: true
title: Your health
figmaLink: 
vueLink: 
---

{% from "nhsapp/components/card/macro.njk" import nhsappCardGroup %}
{% from "nhsapp/components/card/macro.njk" import nhsappCard %}
{% from "nhsapp/styles/section-heading/macro.njk" import nhsappSectionHeading %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-u-margin-bottom-3">Your health</h1>
    <p class="nhsuk-u-margin-bottom-5">View your personal records and choices.</p>

    {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "GP health record",
            href: "#"
          },
          {
            title: "View and manage prescriptions",
            href: "/pages/your-health/prescriptions-p9"
          },
          {
            title: "Upcoming and past appointments",
            href: "/pages/your-health/upcoming-and-past-appointments-p9"
          },
          {
            title: "Test results and imaging",
            href: "#"
          },
          {
            title: "COVID-19 vaccine record",
            href: "#"
          },
          {
            title: "NHS COVID Pass",
            href: "#"
          },
          {
            title: "Your health choices",
            href: "/pages/your-health/your-health-choices-p9"
          },
          {
            title: "Care plans",
            href: "/pages/your-health/care-plans-p9"
          }
        ]
      })}}

  </div>
</div>