---
layout: layouts/example.njk
title: Medical signposting
figmaLink: 
vueLink: 
---

<p>For urgent medical advice, use <a href="https://111.nhs.uk/">111 online</a> or <a href="tel:111">call 111</a>.</p>
