<span class="
    nhsapp-badge-small 
    {{ 'nhsapp-badge-small--red' if params.color === 'red' }}
    {{ 'nhsapp-badge-small--absolute' if params.positionAbsolute }}
    {{ params.classes if params.classes }}">
    <span class="nhsapp-badge-small__indicator" aria-hidden="true"></span>
    <span class="nhsuk-u-visually-hidden">{{ params.label }}</span>
    <span>{{ params.text }}</span>
</span>