---
layout: layouts/example-full-page-mobile-not-logged-in.njk
mobile: true
mobileHeader: "blue"
title: Problem logging you in
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">There was a problem logging you in</h1>

    <p>Go back and try again.</p>

    {{ button({
      text: "Back to login",
      classes: "nhsapp-button--secondary nhsapp-button"
    }) }}

  </div>
</div>