@use "nhsuk-frontend/dist/nhsuk/core/tools/sass-mq" as *;

.nhsapp-u-hide-from-tablet {
  @include nhsuk-media-query($from: tablet) {
    display: none !important;
  }
}

.nhsapp-u-hide-until-tablet {
  @include nhsuk-media-query($until: tablet) {
    display: none !important;
  }
}
