<nav class="app-bottom-nav-native">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <ul class="app-bottom-nav-native__list">
        <li class="app-bottom-nav-native__item">
          <a class="app-bottom-nav-native__link" href="#">
            {{ nhsappIcon('home') }}
            <span class="app-bottom-nav-native__label ">Home</span>
          </a>
        </li>
        <li class="app-bottom-nav-native__item">
          <a class="app-bottom-nav-native__link" href="#">
            {{ nhsappIcon('crossFilled') }}    
            <span class="app-bottom-nav-native__label app-bottom-nav-native__label--active">Services</span>
          </a>
        </li>
        <li class="app-bottom-nav-native__item">
          <a class="app-bottom-nav-native__link" href="#">
            {{ nhsappIcon('heart') }}
            <span class="app-bottom-nav-native__label ">Your health</span>
          </a>
        </li>
        <li class="app-bottom-nav-native__item">
          <a class="app-bottom-nav-native__link" href="#">
            {{ nhsappIcon('messages') }}
            <span class="app-bottom-nav-native__label ">Messages</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>