{{ footer({
  meta: {
    items: [
      {
    "href": "#",
    "text": "Terms of use"
  },
  {
    "href": "#",
    "text": "Privacy policy"
  },
  {
    "href": "#",
    "text": "Help and support"
  },
  {
    "href": "#",
    "text": "Accessibility statement"
  }
    ]
  }
}) }}