{% from 'footer/macro.njk' import footer %}

{{ footer({
  "links": [
    {
      "URL": "#",
      "label": "Terms of use"
    },
    {
      "URL": "#",
      "label": "Privacy policy"
    },
    {
      "URL": "#",
      "label": "Help and support"
    },
    {
      "URL": "#",
      "label": "Accessibility statement"
    }
  ]
})}}