{{ header({
    logo: {
      href: "/",
      ariaLabel: "NHS App"
    },
    navigation: {
      items: [
        {
          href: "#",
          text: "Home"
        },
        {
          href: '#',
          text: 'Services'
        },
        {
          href: '#',
          text: 'Your health'
        },
        {
          href: '#',
          text: 'Messages'
        },
        {
          href: '#',
          text: 'Help and support'
        },
        {
          href: '#',
          text: 'Account and settings'
        },
        {
          href: '#',
          text: 'Sign out'
        }
      ]
    }
  }) }}