{% macro appSideNavigation(params) %}
  <nav class="app-side-navigation {{- ' ' + params.classes if params.classes }}" {%- if (params.label) %} aria-label="{{ params.label }}"{% endif %} {% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <h2 class="nhsuk-u-visually-hidden">Pages in this section</h2>
    {%- if params.sections %}
      {%- for section in params.sections %}
        <h{{ section.heading.headingLevel | default(3) }} class="app-side-navigation__title {{- ' ' + section.heading.classes if section.heading.classes }}"{% for attribute, value in section.heading.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
          {{- section.heading.html | safe if section.heading.html else section.heading.text -}}
        </h{{ section.heading.headingLevel | default(3) }}>
        <ul class="app-side-navigation__list">
          {%- for item in section.items %}
            {% include "./side-navigation-item.njk" %}
          {% endfor -%}
        </ul>
      {% endfor -%}
    {% else %}
      <ul class="app-side-navigation__list">
        {%- for item in params.items %}
          {% include "./side-navigation-item.njk" %}
        {% endfor -%}
      </ul>
    {% endif -%}
  </nav>
{% endmacro %}
