{% set active = item.url === params.currentPath %}

<li class="app-side-navigation__item{% if active %} app-side-navigation__item--active{% endif %}"{% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <a href="{{ item.url }}"{% if active %} aria-current="location"{% endif %}>
    {{- item.data.title -}}
  </a>
</li>
