<header class="app-top-nav-native">
  <div class="nhsuk-width-container">
    <nav class="app-top-nav-native__nav">
      <ul class="app-top-nav-native__nav-list">
        <li class="app-top-nav-native__nav-item">
          <a class="app-top-nav-native__nav-link" href="#">
            {{ nhsappIcon('help') }}
            <span class="nhsuk-u-visually-hidden">Help</span>
          </a>
        </li>
        <li class="app-top-nav-native__nav-item">
          <a class="app-top-nav-native__nav-link" href="#">
            {{ nhsappIcon('account') }}
            <span class="nhsuk-u-visually-hidden">Account and settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>