---
layout: layouts/example.njk
title: Button secondary
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Try again",
  classes: "nhsuk-button--secondary nhsapp-button"
}) }}