---
layout: layouts/example.njk
title: Button reverse
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Continue",
  classes: "nhsuk-button--reverse nhsapp-button"
}) }}