---
layout: layouts/example.njk
title: Button warning
figmaLink: 
vueLink: 
---

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Cancel appointment",
  classes: "nhsuk-button--warning nhsapp-button"
}) }}