.nhsapp-icon {
  fill: $nhsuk-link-colour; // Set default icon colour to NHS blue

  &--unread-indicator {
    fill: nhsuk-colour("red");
    stroke: nhsuk-colour("white");
  }
}

.nhsapp-icon--black {
  fill: nhsuk-colour("black");
}

.nhsapp-icon--32 {
  height: 32px;
  width: 32px;

  @include nhsuk-media-query($until: tablet) {
    height: 24px;
    width: 24px;
  }
}
