.nhsapp-icon {
  fill: $nhsuk-link-colour; // Set default icon colour to NHS blue

  &--unread-indicator {
    fill: nhsuk-colour("red");
    stroke: nhsuk-colour("white");
  }
}

.nhsapp-icon--black {
  fill: nhsuk-colour("black");
}
