{% macro account() %}
  {% include "icons/account.svg" %}
{% endmacro %}

{% macro chevronRight() %}
  {% include "icons/chevron-right.svg" %}
{% endmacro %}

{% macro crossFilled() %}
  {% include "icons/cross-filled.svg" %}
{% endmacro %}

{% macro cross() %}
  {% include "icons/cross.svg" %}
{% endmacro %}

{% macro heartFilled() %}
  {% include "icons/heart-filled.svg" %}
{% endmacro %}

{% macro heart() %}
  {% include "icons/heart.svg" %}
{% endmacro %}

{% macro help() %}
  {% include "icons/help.svg" %}
{% endmacro %}

{% macro homeFilled() %}
  {% include "icons/home-filled.svg" %}
{% endmacro %}

{% macro home() %}
  {% include "icons/home.svg" %}
{% endmacro %}

{% macro messagesFilled() %}
  {% include "icons/messages-filled.svg" %}
{% endmacro %}

{% macro messages() %}
  {% include "icons/messages.svg" %}
{% endmacro %}

{% macro messagesUnreadFilled() %}
  {% include "icons/messages-unread-filled.svg" %}
{% endmacro %}

{% macro messagesUnread() %}
  {% include "icons/messages-unread.svg" %}
{% endmacro %}

{% macro switchProfile() %}
  {% include "icons/switch-profile.svg" %}
{% endmacro %}