{% macro account() %}
  {% include "../../assets/icons/account.svg" %}
{% endmacro %}

{% macro calendar() %}
  {% include "../../assets/icons/calendar.svg" %}
{% endmacro %}

{% macro chevronRight() %}
  {% include "../../assets/icons/chevron-right.svg" %}
{% endmacro %}

{% macro crossFilled() %}
  {% include "../../assets/icons/cross-filled.svg" %}
{% endmacro %}

{% macro cross() %}
  {% include "../../assets/icons/cross.svg" %}
{% endmacro %}

{% macro email() %}
  {% include "../../assets/icons/email.svg" %}
{% endmacro %}

{% macro download() %}
  {% include "../../assets/icons/download.svg" %}
{% endmacro %}

{% macro filter() %}
  {% include "../../assets/icons/filter.svg" %}
{% endmacro %}

{% macro heartFilled() %}
  {% include "../../assets/icons/heart-filled.svg" %}
{% endmacro %}

{% macro heart() %}
  {% include "../../assets/icons/heart.svg" %}
{% endmacro %}

{% macro help() %}
  {% include "../../assets/icons/help.svg" %}
{% endmacro %}

{% macro homeFilled() %}
  {% include "../../assets/icons/home-filled.svg" %}
{% endmacro %}

{% macro home() %}
  {% include "../../assets/icons/home.svg" %}
{% endmacro %}

{% macro letter() %}
  {% include "../../assets/icons/letter.svg" %}
{% endmacro %}

{% macro messagesFilled() %}
  {% include "../../assets/icons/messages-filled.svg" %}
{% endmacro %}

{% macro messages() %}
  {% include "../../assets/icons/messages.svg" %}
{% endmacro %}

{% macro messagesUnreadFilled() %}
  {% include "../../assets/icons/messages-unread-filled.svg" %}
{% endmacro %}

{% macro messagesUnread() %}
  {% include "../../assets/icons/messages-unread.svg" %}
{% endmacro %}

{% macro sort() %}
  {% include "../../assets/icons/sort.svg" %}
{% endmacro %}

{% macro switchProfile() %}
  {% include "../../assets/icons/switch-profile.svg" %}
{% endmacro %}