{% set stackedClass = 'nhsapp-cards--stacked' if params.stacked else '' %}

{% from "./macro.njk" import nhsappCard %}

<ol class="nhsapp-cards {{ stackedClass }}
{{ params.classes if params.classes }}">
  {% for cardItem in params.cards %}
    {{ nhsappCard({
      title: cardItem.title,
      href: cardItem.href,
      html: cardItem.html,
      classes: cardItem.classes,
      aboveContent: cardItem.aboveContent,
      description: cardItem.description,
      badgeLarge: cardItem.badgeLarge,
      prefixIcon: cardItem.prefixIcon,
      readOnly: cardItem.readOnly,
      headingLevel: cardItem.headingLevel,
      isListItem: true
    }) }}
  {% endfor %}
</ol>