{% from "../badge/large/macro.njk" import nhsappBadgeLarge %}
{% from "../../styles/icon/macro.njk" import nhsappIcon %}

{% set hasBadgeLarge = true if params.badgeLarge.count > 0 %}

{%- if params.isListItem -%}
  <li class="nhsapp-card 
  {{ params.classes if params.classes }}">
{%- else -%}
  <div class="nhsapp-card 
  {{ params.classes if params.classes }}">
{%- endif -%}
  <div class="nhsapp-card__container">
    {%- if params.prefixIcon -%}
      {{ nhsappIcon(params.prefixIcon) }}
    {%- endif -%}
    <div class="nhsapp-card__content">
      {%- if params.aboveContent.html -%}
        <div class="nhsapp-card__above">
          {{ params.aboveContent.html | safe }}
        </div>
      {%- endif -%}
      {%- if params.readOnly or params.footer.href -%}
        {%- if params.titleHeadingLevel -%}
          <h{{ params.titleHeadingLevel }} class="nhsapp-card__title {{ params.titleClasses if params.titleClasses }}">{{ params.title }}</h{{ params.titleHeadingLevel }}>
        {%- else -%}
          <p class="nhsapp-card__title {{ params.titleClasses if params.titleClasses }}">{{ params.title }}</p>
        {%- endif -%}
      {%- else -%}
        <a href="{{ params.href }}" class="nhsapp-card__link nhsuk-link--no-visited-state {{ params.titleClasses if params.titleClasses }}" 
      {%- if params.linkAriaLabel %} aria-label="{{ params.linkAriaLabel }}" {% endif %}>
          {{ params.title }}
        </a>
      {%- endif -%}
      {% if params.description %}
        <div class="nhsapp-card__below">
          <p class="nhsuk-u-margin-top-1">{{ params.description }}</p>
        </div>
      {% elif params.html %}
        {{ params.html | safe }}
      {% endif %}
    </div>
    {% if hasBadgeLarge %}
      {{ nhsappBadgeLarge({
        count: params.badgeLarge.count,
        label: params.badgeLarge.label,
        classes: params.badgeLarge.classes,
        ariaHidden: params.badgeLarge.ariaHidden
      }) }}
    {% endif %}
    {%- if params.readOnly or params.footer.href -%}
    {%- else -%}
      {{ nhsappIcon('chevronRight') }}
    {%- endif -%}
  </div>
  {%- if params.footer.html -%}
    <div class="nhsapp-card__footer">
      {{ params.footer.html | safe }}
    </div>
  {%- elif params.footer.href -%}
    <div class="nhsapp-card__footer nhsapp-card__footer--with-link">
      <a href="{{ params.footer.href }}" class="nhsapp-card__link nhsuk-link--no-visited-state" 
      {%- if params.footer.linkAriaLabel %} aria-label="{{ params.footer.linkAriaLabel }}" {% endif %}>
          {{ params.footer.title }}
      </a>
      {{ nhsappIcon('chevronRight') }}
    </div>
  {%- endif -%}
{%- if params.isListItem -%}
  </li>
{%- else -%}
  </div>
{%- endif -%}
