{% set stackedClass = 'nhsapp-cards--stacked' if params.stacked else '' %}
{% set headingLevel = params.headingLevel if params.headingLevel else 2 %}

{% from "./macro.njk" import nhsappCard %}

{% if params.heading %}
  <h{{ headingLevel }} class="nhsapp-cards__heading {{ headingClass }}">
    {{ params.heading }}
  </h{{ headingLevel }}>
{% endif %}

{% if params.description %}
  <p class="nhsapp-cards__description {{ descriptionClass }}">
    {{ params.description }}
  </p>
{% endif %}

<ul class="nhsapp-cards {{ stackedClass }}
{{ params.classes if params.classes }}">
  {% for cardItem in params.cards %}
    {{ nhsappCard({
      title: cardItem.title,
      titleClasses: cardItem.titleClasses,
      href: cardItem.href,
      html: cardItem.html,
      classes: cardItem.classes,
      aboveContent: cardItem.aboveContent,
      description: cardItem.description,
      descriptionClasses: cardItem.descriptionClasses,
      badgeLarge: cardItem.badgeLarge,
      prefixIcon: cardItem.prefixIcon,
      readOnly: cardItem.readOnly,
      footer: cardItem.footer,
      isListItem: true,
      linkAriaLabel: cardItem.linkAriaLabel
    }) }}
  {% endfor %}
</ul>