{% set subheadingClass = 'nhsuk-u-margin-bottom-3' if params.subheadingText else '' %}

<div class="nhsapp-section-heading 
{{ params.classes if params.classes }}">
  <h2 class="nhsuk-heading-s {{ subheadingClass }}">
    {{ params.headingText }}
  </h2>
  {% if params.linkText and params.linkUrl %}
    <a 
      class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-nowrap"
      href="{{ params.linkUrl }}"
      aria-label="{{ params.linkAriaLabel }}"
    >
      {{ params.linkText }}
    </a>
  {% endif %}
</div>
{% if params.subheadingText %} 
  <p class="nhsuk-u-margin-bottom-5">{{ params.subheadingText }}</p>
{% endif %}
