/** These variables are not defined in a separate scss file in the nhsuk-frontend,
 * so we can't import them without bringing in the actual classes also.
 */
$card-border-width: 1px;
$card-border-bottom-width: nhsuk-spacing(1);
$card-border-color: $color_nhsuk-grey-4;
$card-border-hover-color: $color_nhsuk-grey-3;

.nhsapp-card {
  @include nhsuk-responsive-margin(5, "bottom");

  background-color: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  position: relative; // Set to relative so the entire card can be clickable

  padding: 0;

  .nhsapp-icon {
    height: 24px;
    width: 24px;
    flex: none; // Prevents icons from shrinking

    @include mq($from: tablet) {
      height: 28px;
      width: 28px;
    }
    fill: $nhsuk-link-color;
  }

  &:hover {
    .nhsapp-icon {
      fill: $nhsuk-link-hover-color;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: nhsuk-spacing(3);

    margin: 0 nhsuk-spacing(3);
    padding: 20px 0;

    @include mq($from: tablet) {
      margin: 0 nhsuk-spacing(4);
      padding: nhsuk-spacing(4) 0;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__link {
    @include nhsuk-typography-responsive(22);
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    // Makes the entire card clickable
    &::after {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__below {
    :last-child {
      margin-bottom: 0;
    }
  }
}

// card group
.nhsapp-cards {
  @include nhsuk-responsive-margin(5, "bottom");
  list-style: none; // Removes default list style
  padding: 0; // Removes default list padding

  &--stacked {
    @include nhsuk-responsive-margin(5, "bottom");

    .nhsapp-card {
      border-bottom: 0;
      border-top: 0;
      margin-bottom: 0;

      .nhsapp-card__container {
        border-bottom: $card-border-width solid $card-border-color;
      }

      &:first-of-type {
        border-top: $card-border-width solid $card-border-color;
      }

      &:last-of-type {
        border-bottom: $card-border-width solid $card-border-color;

        .nhsapp-card__container {
          border-bottom: 0;
        }
      }
    }
  }
}
