---
title: Forms
showHtml: false
openFirst: true
swiftCode: |
  let ratings = [
    "Very good",
    "Good",
    "Neither good nor poor",
    "Poor",
    "Very poor"
  ]

  var body: some View {
      VStack {
          Form {
              Section {
                  Picker("Rating", selection: $rating) {
                      ForEach(ratings, id: \.self) { option in
                          Text(option)
                      }
                  }
                  .pickerStyle(.inline)
              } header: {
                  Text("Overall, how would you rate your experience of the service?")
              }
          }

          Button("Continue")
      }
  }
---
