.app-content {
  @include nhsuk-media-query($from: desktop) {
    padding-bottom: nhsuk-spacing(7);
  }

  img {
    @include nhsuk-responsive-margin(5, "bottom");
    @include nhsuk-responsive-margin(5, "top");

    border: nhsuk-spacing(1) solid nhsapp-colour("pale-blue");
    display: block; // To remove extra spacing beneath images
    max-width: 100%; // So images do not break the container
  }
}
