// App main container
.app-width-container {
  padding-top: 60px; // to give correct spacing for sticky header
}

// App main wrapper
.app-main-wrapper {
  padding: 0 0 130px; // to give correct spacing for sticky footer
}

// App html class
// Removes the dark grey background at the bottom of shorter pages
.app-html-background-colour-grey-5 {
  background-color: nhsuk-colour("grey-5");
}
