.app-content {
  @include mq($from: desktop) {
    @include nhsuk-responsive-padding(7, "bottom");
  }

  img {
    @include nhsuk-responsive-margin(5, "bottom");
    @include nhsuk-responsive-margin(5, "top");

    border: nhsuk-spacing(1) solid $app-img-border-color;
    display: block; // To remove extra spacing beneath images
    max-width: 100%; // So images do not break the container
  }
}
