@use "nhsuk/core/settings" as *;
@use "nhsuk/core/tools" as *;
@use "nhsuk/core/helpers" as *;

/* ==========================================================================
   #EXAMPLE
   ========================================================================== */

.app-example {
  @include nhsuk-responsive-margin(5, "top");

  border: 1px solid $nhsuk-border-colour;
  padding-top: 37px; //matches height of new window link
  position: relative;

  @include nhsuk-media-query($from: desktop) {
    padding-top: 41px; //matches height of new window link
  }
}

.app-example__frame {
  background-color: nhsuk-colour("white");
  border: 0;
  display: block;
  width: 100%;
}

.app-example-page {
  margin-bottom: -1px;
  padding: 30px;
  padding-top: 60px;
  position: relative;
}

.app-example__new-window {
  @include nhsuk-font($size: 14);
  border-bottom: 1px solid $nhsuk-border-colour;
  left: 0;
  position: absolute;
  padding: 8px 16px;
  top: 0;
  width: 100%;

  a,
  a:link,
  a:visited {
    color: nhsuk-colour("blue");
    display: inline-block;
    text-decoration: underline;
  }

  a:hover {
    color: $nhsuk-link-hover-colour;
    text-decoration: none;
  }

  a:focus {
    color: $nhsuk-focus-text-colour;
    background-color: $nhsuk-focus-colour;
    text-decoration: none;
  }
}

.app-tabs__panel .nhsuk-code--nunjucks .nhsuk-code__container {
  padding-top: 0; // No need for padding top because of macro options
}
