// Import all of the NHS.UK frontend core styles
@import "node_modules/nhsuk-frontend/packages/core";

// Import specific components that we need from nhsuk-frontend
@import "node_modules/nhsuk-frontend/packages/components/breadcrumb";
@import "node_modules/nhsuk-frontend/packages/components/skip-link";
@import "node_modules/nhsuk-frontend/packages/components/header";
@import "node_modules/nhsuk-frontend/packages/components/footer";
@import "node_modules/nhsuk-frontend/packages/components/hero";
@import "node_modules/nhsuk-frontend/packages/components/tabs";
@import "node_modules/nhsuk-frontend/packages/components/summary-list";
@import "node_modules/nhsuk-frontend/packages/components/button";
@import "node_modules/nhsuk-frontend/packages/components/inset-text";
@import "node_modules/nhsuk-frontend/packages/components/back-link";

@import "node_modules/prismjs/themes/prism";
@import "docs/assets/css/code-colours";

// Import all styles from the NHS App frontend library
@import "src/all";

// Colours
$app-brand-color: $color_nhsuk-blue;
$app-img-border-color: #d7e5ef;

// Import all styles specific for the design system docs
@import "docs/assets/css/components/header";
@import "docs/assets/css/components/hero";
@import "docs/assets/css/components/side-navigation";
@import "docs/assets/css/components/callout";
@import "docs/assets/css/components/bottom-nav-native";
@import "docs/assets/css/components/top-nav-native";
@import "docs/assets/css/components/header-native";
@import "docs/assets/css/container";
@import "docs/assets/css/tabs";
@import "docs/assets/css/content";
@import "docs/assets/css/mobile-iframe";
@import "docs/assets/css/example";
@import "docs/assets/css/utilities";

// Add correct spacing around code highlighter and content
pre {
  + p,
  + ol,
  + ul {
    @include nhsuk-responsive-padding(4, "top");
  }

  + h2,
  + h3 {
    padding-top: nhsuk-spacing(5);

    @include nhsuk-media-query($from: desktop) {
      padding-top: nhsuk-spacing(7);
    }
  }
}

// Stop table breaking container on small screens
@include nhsuk-media-query($until: tablet) {
  .app-table tr td {
    word-break: break-word;
  }
}

// Home page section
.app-section {
  :last-child {
    margin-bottom: 0;
  }

  &--white {
    background-color: white;
  }

  &--with-bottom-border {
    border-bottom: 2px solid $color_nhsuk-grey-4;
  }
}

.app-section-break {
  border-width: 2px;
  border-color: $color_nhsuk-grey-4;
}

// Footer border colour
.nhsuk-footer-container {
  border-color: $app-brand-color;
}
