---
layout: layouts/example.njk
title: Badge Small
figmaLink: "https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?node-id=9994-822&t=Py584cYX2kHgWqGG-1"
vueLink: "https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhsbadge-small--docs"
arguments: badge/small
---

{% from "nhsapp/components/badge/small/macro.njk" import nhsappBadgeSmall %}

{{ nhsappBadgeSmall({
  label: 'New',
  text: 'Document attached',
  classes: 'nhsuk-body-m'
}) }}
