---
layout: layouts/example.njk
title: Badge Large 9
figmaLink: "https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?node-id=9994-822&t=Py584cYX2kHgWqGG-1"
vueLink: "https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhsbadge-large--docs"
---

{% from "nhsapp/components/badge/large/macro.njk" import nhsappBadgeLarge %}

{{ nhsappBadgeLarge({
  count: 10,
  label: 'notifications'
}) }}
