{% set cardLink = 'true' if params.withCardLink else 'null' %}

{%- if params.count -%}
<p class="nhsapp-badge" aria-hidden="{{ true if params.withCardLink }}">
    <span class="nhsuk-u-visually-hidden">You have</span>
    {% if params.count > 9 %}
        9+
    {% else %}
        {{ params.count }}
    {% endif %}
    <span class="nhsuk-u-visually-hidden">{{ params.label }}</span>
</p>
{%- endif -%}