{% extends "layouts/base.njk" %}

{% set title = "NHS App design resources" %}

{%- from 'hero/macro.njk' import hero -%}
{% from "card/macro.njk" import cardGroup %}
{%- from 'card/macro.njk' import card -%}

{% block header %}
  {{ super() }}

  {{ hero({
    "heading": "NHS App design resources",
    "text": "Design, build, and deliver accessible and consistent services for the NHS App"
  }) }}
{% endblock %}

{% block main %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Design styles, components and patterns</h2>

      {{ cardGroup({
        stacked: true,
        cards: [
          {
            title: 'NHS design system',
            href: 'https://service-manual.nhs.uk/design-system'
          },
          {
            title: 'NHS App design patterns',
            href: './components/'
          }
        ]
      }) }}

      <h2>Content design</h2>

      {{ cardGroup({
        stacked: true,
        cards: [
          {
            title: 'NHS content guide',
            href: '#'
          },
          {
            title: 'A to Z of NHS health writing',
            href: '#'
          }
        ]
      }) }}

      <h2>Accessibility</h2>

      {{ cardGroup({
        stacked: true,
        cards: [
          {
            title: 'NHS accessibility guidance',
            href: '#'
          },
          {
            title: 'Accessibility checklist',
            href: '#'
          }
        ]
      }) }}

      <h2>Standards and principles</h2>

      {{ cardGroup({
        stacked: true,
        cards: [
          {
            title: 'NHS design principles',
            href: '#'
          },
          {
            title: 'NHS service standard',
            href: '#'
          }
        ]
      }) }}

      <hr>

      <h2>Support</h2>



    </div>
  </div>
{% endblock %}
