{% extends "layouts/base.njk" %}

{% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
{% from 'nhsapp/components/card/macro.njk' import nhsappCard %}
{% from 'nhsuk/components/hero/macro.njk' import hero as nhsukHero %}
{% from 'nhsuk/components/button/macro.njk' import button as nhsukButton %}

{% block header %}
  {{ super() }}

  {% set heroHtml %}
    <p>Use the NHS App design system alongside the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a>.</p>
    <p>The NHS App design system enables teams to avoid repetition by learning from the work and experiences of others.</p>

    {{ nhsukButton({
      text: "Get started",
      href: "/get-started/",
      variant: "reverse"
    }) }}
  {% endset %}

  {{ nhsukHero({
    classes: "app-hero",
    content: [
      {
        heading: "Design and build accessible services for the NHS App",
        width: "one-half",
        html: heroHtml
      },
      {
        image: {
          src: "assets/images/hero-image.svg",
          alt: "",
          background: false,
          border: false,
          classes: "app-hero-img"
        },
        width: "one-half"
      }
    ]
  }) }}
{% endblock %}

{% block main %}
  <main role="main" id="maincontent">
    <section class="nhsuk-main-wrapper app-section app-section--white app-section--with-bottom-border ">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2>What's new</h2>
            <h3 class="nhsuk-heading-s">23 December 2025: We updated our component library</h3>
            <p>We've brought changes from <a href="https://service-manual.nhs.uk/design-system/guides/updating-to-v10">NHS.UK frontend v10</a> and <a href="https://github.com/nhsuk/nhsapp-frontend/releases">NHS App frontend v5</a> into our component library, including new, rounder designs for <a href="https://design-system.nhsapp.service.nhs.uk/components/buttons/">buttons</a> and <a href="https://design-system.nhsapp.service.nhs.uk/components/card-links/">cards</a>. Read the <a href="https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/changelog--docs#200" class="nhsuk-link--no-visited-state">full release notes</a>.</p>
        </div>
            <div class="nhsuk-grid-column-two-thirds">
            <h3 class="nhsuk-heading-s">9 October 2025: We released NHS App frontend 5.0.0</h3>
            <p>This release updates to <a href="https://service-manual.nhs.uk/design-system/guides/updating-to-v10">NHS.UK frontend version v10</a> and makes various improvements. Read the <a href="https://github.com/nhsuk/nhsapp-frontend/releases">full release notes</a>.</p>
        </div>
      </div>
    </section>
    <section class="nhsuk-main-wrapper app-section">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds app-section__column">
            <h2>Prototyping</h2>
            <p>Create interactive prototypes that look like real NHS App pages.</p>
            <ul class="nhsuk-list">
              <li><a href="/get-started/nhsapp-prototype/">Use the NHS App prototype</a></li>
              <li><a href="/get-started/nhsapp-prototype/github/">Store prototype code on GitHub</a></li>
              <li><a href="/get-started/nhsapp-prototype/heroku/">Host prototypes on Heroku</a></li>
            </ul>
          </div>
          <div class="nhsuk-grid-column-full">
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break nhsuk-u-margin-top-0 app-section-break--width-4">
          </div>
          <div class="nhsuk-grid-column-one-half app-section__column">
            <h2>Components</h2>
            <p>Save time with reusable, accessible components.</p>
            <p><a href="/components/" class="nhsuk-link--no-visited-state">Browse components</a></p>
          </div>
          <div class="nhsuk-grid-column-one-half app-section__column">
            <h2>Patterns</h2>
            <p>Tested and agreed solutions to common needs.</p>
            <p><a href="/patterns/" class="nhsuk-link--no-visited-state">Browse patterns</a></p>
          </div>
          <div class="nhsuk-grid-column-full">
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break nhsuk-u-margin-top-0 app-section-break--width-4">
          </div>
          <div class="nhsuk-grid-column-two-thirds">
            <h2>Contributing</h2>
            <p>Anyone can contribute to the NHS App design system. You can share findings or suggest a change.</p>
            <p class="nhsuk-u-static-margin-bottom-3"><a href="/community/" class="nhsuk-link--no-visited-state">Find out how to contribute</a></p>
          </div>
        </div>
      </div> 
    </section>
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {% include "layouts/partials/propose-change.njk" %}
        </div>
      </div>
    </div>
  </main>

{% endblock main %}

