---
layout: layouts/example.njk
title: Card messages inbox
arguments: card
---

{% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
{% from 'nhsapp/components/badge/small/macro.njk' import nhsappBadgeSmall %}

{% set card1TitleHtml %}
  {{ nhsappBadgeSmall({ positionAbsolute: true, label: 'Unread message' }) -}}
  Portland Street Great Westood Surgery<span class="nhsuk-u-visually-hidden">received today at 1:02pm</span>
{% endset %}

{% set card2TitleHtml %}Range surgery<span class="nhsuk-u-visually-hidden">received on 15 March 2024 at 9:00am</span>{% endset %}

{{ nhsappCardGroup({
  stacked: true,
  cards: [
    {
      classes: 'nhsuk-u-padding-left-6',
      containerClasses: 'nhsuk-u-padding-left-0',
      aboveContent: { 
        html: '<p aria-hidden="true" class="nhsuk-body-s nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">1:02pm</p>'
      },
      href: '#',
      titleHtml: card1TitleHtml,
      description: 'Patient survey reminder. The Patient feedback survey is about to close. Have your say about Portland Street Great Westood Surgery by providing us with your thoughts.',
      descriptionClasses: 'nhsuk-u-secondary-text-colour nhsapp-u-truncate-two-lines nhsuk-u-margin-top-1'
    },
    {
      classes: 'nhsuk-u-padding-left-6',
      containerClasses: 'nhsuk-u-padding-left-0',
      aboveContent: { 
        html: '<p aria-hidden="true" class="nhsuk-body-s nhsuk-u-margin-bottom-0">15 Mar 2024</p>'
      },
      href: '#',
      titleHtml: card2TitleHtml,
      description: 'Reminder of your telephone appointment with your GP on Friday 23 October at 1:30pm.',
      descriptionClasses: 'nhsuk-u-secondary-text-colour nhsapp-u-truncate-two-lines nhsuk-u-margin-top-1'
    }
  ]
}) }}
