---
layout: layouts/example.njk
title: Card campaign
figmaLink:
vueLink:
arguments: card
---

{% from 'nhsapp/components/card/macro.njk' import nhsappCard %}

{{ nhsappCard({
  classes: 'nhsapp-card--dark-blue',
  href: '#',
  title: 'Help change the NHS',
  titleClasses: 'nhsuk-u-font-size-26',
  descriptionHtml: '<p class="nhsuk-u-margin-top-2">Have your say on making the NHS fit for the future</p>',
  img: {
    src: '../../../assets/images/campaign-card-image.jpg'
  }
}) }}
