---
layout: layouts/example.njk
title: Card link secondary stacked
figmaLink: https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?node-id=128-7303&t=Bvw33PoP6TmBpN41-1
vueLink: https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhscardlink--docs
arguments: card-group
---

{% from 'nhsapp/components/card/macro.njk' import nhsappCardGroup %}
{% from 'nhsapp/components/card/macro.njk' import nhsappCard %}

{{ nhsappCardGroup({
  stacked: true,
  cards: [
    {
      title: 'Login and security',
      href: '#'
    },
    {
      title: 'Face ID',
      href: '#'
    }
  ]
}) }}

{{ nhsappCardGroup({
  stacked: true,
  classes: 'nhsapp-cards--secondary',
  cards: [
    {
      title: 'Privacy and legal policies',
      href: '#'
    },
    {
      title: 'Join our user research panel',
      href: '#'
    }
  ]
}) }}