---
layout: layouts/example.njk
title: Card group stacked secondary
figmaLink: ""
vueLink: ""
---

{% from "nhsapp/components/card/macro.njk" import nhsappCardGroup %}
{% from "nhsapp/components/card/macro.njk" import nhsappCard %}

{{ nhsappCardGroup({
  stacked: true,
  cards: [
    {
      title: 'Login and security',
      href: '#'
    },
    {
      title: 'Face ID',
      href: '#'
    }
  ]
}) }}

{{ nhsappCardGroup({
  stacked: true,
  classes: 'nhsapp-cards--secondary',
  cards: [
    {
      title: 'Privacy and legal policies',
      href: '#'
    },
    {
      title: 'Join our user research panel',
      href: '#'
    }
  ]
}) }}