---
layout: layouts/example.njk
title: Card with footer link
figmaLink: "https://www.figma.com/file/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?type=design&node-id=128%3A7303&mode=design&t=DLiyCHcTTAYkEDa0-1"
vueLink: "https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhscardbase--docs"
---

{% from "nhsapp/components/card/macro.njk" import nhsappCard %}

{{ nhsappCard({
  title: 'Mary Swanson',
  titleHeadingLevel: '2',
  titleClasses: 'nhsuk-u-font-size-32',
  html: "
    <p class='nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-1'>Date of birth: 15 March 1984</p>
    <p>NHS Number: 123 456 7890</p>
  ",
  footer: { 
    href: "#",
    title: "Manage health services for others"
  }
}) }} 
