---
layout: layouts/example.njk
title: Header (web) not logged in
figmaLink: ""
vueLink: ""
---

{% from 'header/macro.njk' import header %}

{{ header({
  logo: {
    ariaLabel: "NHS"
  },
  service: {
    text: "App",
    href: "#"
  }
}) }}
