---
layout: layouts/example.njk
title: Header (web) not logged in
figmaLink:
vueLink:
---

{% from 'header/macro.njk' import header %}

{{ header({
  service: {
    text: 'App<span class="nhsuk-u-visually-hidden"> homepage</span>' | safe,
    href: '#'
  }
}) }}
