---
layout: layouts/example.njk
title: Panel
figmaLink: "https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?node-id=10823-3960&t=bu0bKYX8GDeyKVNQ-1"
vueLink: 
---

{% from "nhsapp/components/panel/macro.njk" import nhsappPanel %}

{{ nhsappPanel({
  titleText: "Application complete",
  html: "Your reference number<br><strong>HDJ2123F</strong>"
}) }}