---
layout: layouts/example.njk
title: Panel
figmaLink: "https://www.figma.com/design/6f2CbcZ7cnpNrtKEcfQp8X/NHS-App-Design-System?node-id=10823-3960&t=cCcj3EvfNtBU30N4-1"
vueLink: "https://nhsappvuecomponentlibraryv1.nonlive.nhsapp.service.nhs.uk/?path=/docs/components-nhspanel--docs"
---

{% from "nhsapp/components/panel/macro.njk" import nhsappPanel %}

{{ nhsappPanel({
  titleText: "Appointment confirmed"
}) }}